/*it doesn't seen this class because conflict classNames*/
/*we should use className npm package classes merge*/
.button{
    background:transparent;
    cursor: pointer;
    display:flex;
    align-items: center;
    text-decoration: none;
}

.fullWidth {
  width: 100% !important;
}

.iconButton{
  padding:8px;
  &:hover{
   
  }
}