/*it doesn't seen this class because conflict classNames*/
/*we should use className npm package classes merge*/
.button{
    background:transparent;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

.fullWidth {
  width: 100% !important;
}