.chartBigBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .chartheader {
    font-size: 28px;
    text-align: center;
    color: var(--c-secondary);
    font-weight: bold;
    margin-bottom: 18px;
  }
  .chartBox {
    width:40%;
    margin-bottom: 100px;
  }
  .chartBox1 {
  }
  .chartBox2 {
  }
  .chartBox3 {
  }
}
