.chartBigBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .chartBox {
    min-width:30vw;
    min-height:36vh;
    margin-bottom:100px;

  }
  .chartBox1 {
   
  }
  .chartBox2 {
  }
  .chartBox3 {
  }
}
