.layout {
  display: flex;
  background-color: var(--c-main-gray);
  min-height: 100vh;
  margin-left:auto;
  margin-right: auto;
    .search_main_and_extra{
        display:flex;
        flex-direction: column;
        width:100%;
       
    }
    .main_and_extra{
      display:flex;
      margin-top:82px;
    }
}
