.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--c-primary);
   color: var(--c-nav-right-color);
}
.bigNotificationBox {
  width: 84%;
  display: flex;
  align-items: center;
  margin-top:10px;
  button{
    padding:12px;
  }
  button:hover {
    background-color: var(--c-primary);
  }
}
.notificationBase {
  width: 56px;
  height: 56px;
  background-color: var(--c-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--c-nav-right-color);
  svg {
    font-size: 30px;
    color:var(--c-primary);
  }
}
.notificationInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
