.button {
  background-color: var(--c-blue);
  color: var(--c-primary);
  padding-left: 10px;
  padding-right: 20px;
  height: 26px;
  border: 1px solid rgba(77, 161, 255, 0.7);
  border-radius: 4px;
}

.big{
  height:45px;
}
